<div th:fragment="classificationLabel" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="nav nav-pills nav-fill bg-light text-white redw">
        <a class="nav-item nav-link active" href="/">首页</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=财经">财经</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=国际">国际</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=教育">教育</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=旅游">旅游</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=军事">军事</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=综合">综合</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=时事">时事</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=文化">文化</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=时尚">时尚</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=娱乐">娱乐</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=体育">体育</a>
        <a class="nav-item nav-link" href="/classificationNews?classification=教育">教育</a>
    </nav>
</div>