<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col">
            <div class="p-3 mb-2 bg-danger text-white" id="footer">
                <p>© 2019 野猫财经网   | <a href="/" target="_blank" title="关于我们">关于我们</a> | <a href="/" target="_blank" title="联系方式">联系方式</a> | <a href="/" target="_blank" title="实时热点">实时热点</a> | <a href="/" target="_blank" title="一周热点">一周热点</a> | <a href="/" target="_blank" title="新闻标签">新闻标签</a> | <a href="/" target="_blank" title="网站地图">网站地图</a></p>
                <p id="BY-NC-ND">本站新闻资讯内容均来源于互联网正规新闻媒体，版权归原作者所有，所有新闻观点与本站立场无关，如不慎侵犯了您的权益，请联系我们，我们将在第一时间处理！</p>
            </div>
        </div>
    </div>
</div>