<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>野猫财经网</title>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="/bootstrap/jquery-3.3.1.slim.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <link rel="icon" href="/logo/favicon.png" type="image/png" sizes="any">

    <style>
        a:link,a:visited{color:#444;text-decoration:none;}
        a:hover{color: #ff0000;}
        body {
            background-size: cover;
            /*background: url(/logo/background.jpg) fixed left top;*/
            background-color: #f2f2dd;
        }
        .touming {
            background-color: rgba(255,255,255,0.7);
        }
    </style>
</div>