<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <th:block th:include="head::head"></th:block>

</head>
<body>
<div class="container touming">
    <th:block th:include="nav::nav"></th:block>
    <th:block th:include="classificationLabel::classificationLabel"></th:block>
    <th:block th:include="carousel::carousel"></th:block>
    <th:block th:include="hotNews::hotNews"></th:block>
    <div class="row">
        <th:block th:include="classificationNewsIndex1::classificationNewsIndex1"></th:block>
    </div>
    <th:block th:include="footer::footer"></th:block>

</div>
</body>
</html>