<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <th:block th:include="head::head"></th:block>
</head>
<body>
<div class="container touming">
<th:block th:include="nav::nav"></th:block>
    <th:block th:include="classificationLabel::classificationLabel"></th:block>

    <div class="row">
        <!-- 主站区域 -->
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <!--  左侧新闻-->
                        <!--  新闻标题-->
                        <h1 th:text="${news.title}"></h1>
                        <div class="row text-center">
                        <!--  新闻相关信息-->
                        <p class="text-primary" th:text="'发布时间：'+${#dates.format(news.publishtime,'yyyy年MM月dd日 HH:mm:ss')}"></p>
                        <p class="text-primary"  th:text="'发布商：'+${news.newssource}"></p>
                        <p class="text-primary"  th:text="'来源：'+${news.journal}"></p>
                    </div>
                    <div class="row text-center">
                        <h4 class="text-danger">自动朗读新闻——</h4>
                        <audio id="mp3" th:src="'/getAudioById?newsId='+${news.idnews}" autoplay="false" controls="true"></audio>
                    </div>
                    <div class="row">
                        <br>
                        <br>
                        <!--  新闻内容-->
                        <!--<p class="content" th:text="${news.content}">-->
                        <p class="content" data-th-utext="${#strings.replace(#strings.escapeXml(news.content),' 　　','&lt;br&gt; 　　')}">
                        </p>
                    </div>
                </div>
            </div>
            <!--评论-->
            <div class="row">
                <div class="col">
                    <h3>Discuss</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-fluid img-rounded" alt="" src="/head/head2.jpg">
                        </div>
                        <div class="col-md-10">
                            <code class="namefont">Jack Ma</code>
                            <p class="content"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquid consectetur dignissimos exercitationem impedit sapiente, sint unde vitae. Aliquid eos explicabo id laborum nulla possimus, saepe sed suscipit voluptates?</p>
                            <p class=""><br>2019-11-09 17:51:53</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-fluid img-rounded" alt="" src="/head/head.jpg">
                        </div>
                        <div class="col-md-10">
                            <code class="namefont">Lee Alexander McQueen</code>
                            <p class="content"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquid consectetur dignissimos exercitationem impedit sapiente, sint unde vitae. Aliquid eos explicabo id laborum nulla possimus, saepe sed suscipit voluptates?</p>
                            <p class=""><br>2019-11-09 17:51:53</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-3">
            <th:block th:include="scrollNews::scrollNews"></th:block>
        </div>
    </div>
    <th:block th:include="footer::footer"></th:block>

</div>

</body>
</html>